extends layout
block content
  h1 Update book
  h2 #{book.title}
  h4 #{book.author.first_name + ' ' + book.author.family_name}
  br

  #updatebook.container
  form
    .form-group
      label(for='title') Title:
      input#title.form-control(type='text', name='title' value = book.title)
    .form-group
      label(for='summary') Summary:
      textarea#summary.form-control(rows='5') !{book.summary}
    .form-group
      label(for='isbn') ISBN:
      input#isbn.form-control(type='text', name='isbn', value = book.isbn)

    each genre in genres

      input(type='checkbox', name='optradio')
      | !{genre.name}
    else
      | no genres
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  //button.btn.btn-default(type='submit') Submit
  
  //- extends layout
  //- block content
  //-   h1 Update book
  //-   h2 #{book.title}
  //-   h4 #{book.author.first_name + ' ' + book.author.family_name}
  //-   br
  //- 
  //-   #updatebook.container
  //-   form
  //-     .form-group
  //-       label(for='title') Title:
  //-       input#title.form-control(type='text', name='title' value = book.title)
  //-     .form-group
  //-       label(for='summary') Summary:
  //-       textarea#summary.form-control(rows='5') !{book.summary}
  //-     .form-group
  //-       label(for='isbn') ISBN:
  //-       input#isbn.form-control(type='text', name='isbn', value = book.isbn)
  //- 
  //-     each genre in book.genre
  //-      input(type='checkbox', name='optradio')
  //-      | !{genre.name}
  //-     else
  //-      | no genres
  //- 
  //-   each genre_all in genres
  //-       p #{genre_all.name}
  //- 
  //-   //button.btn.btn-default(type='submit') Submit
